 body{
  margin: 0

  font-family: 'Ubuntu', sans-serif;
  font-size: 14px
  color: #FFF
}
*,
*:after,
*:before {
  box-sizing: border-box;
}


/* Container
=======================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}




/* Header
==========================*/

.header {

}
